<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @bill.rfc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @bill.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @bill.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @bill.apellido_materno %>
</p>

<p>
  <strong>Numero exterior:</strong>
  <%= @bill.numero_exterior %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @bill.colonia %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @bill.localidad %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @bill.codigo_postal %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @bill.calle %>
</p>

<p>
  <strong>Numero interior:</strong>
  <%= @bill.numero_interior %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @bill.municipio %>
</p>

<p>
  <strong>Entidad federal:</strong>
  <%= @bill.entidad_federal %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @bill.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @bill.telefono %>
</p>

<p>yeah
  <%= "#{bill_url(@bill)}.json" %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
